.bookmark
  = link_to bookmark.url, url_with_protocol(bookmark.url), target: '_blank'
  = link_to 'update', edit_bookmark_path(bookmark), class: 'update'
  = link_to 'delete', bookmark, method: :delete, class: 'delete'
