%div.topic{id: "topic-#{topic.id}"}
  = link_to topic.title, topic
  - if topic.bookmarks.empty? && (can? :destroy, topic)
    = link_to '- delete', topic, method: :delete, class: 'delete'
  .row
    = render topic.bookmarks
