%div.row
  %div.large-12.columns
    %div.welcome
      %h2 Welcome to Blocmarks
      %p Your one stop shop to find all of your favourite bookmarks. With plenty of ease you can:
      %div.features
        %ol
          %li Organize your bookmarks into catergories
          %li Share your bookmarks with friends
          %li See your friend's favourite bookmarks
      %p All of this from any device with an internet connection.
