/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "foundation-icons";

// General Blocmarks styles
.title {
  font-size: 3em;
  text-align: center;
}

.likes {
  font-size: 1.2em;
}

.website-thumb {
  width: 150px;
  height: 100px;
  // border-radius: 10px;
}

.links {
  margin-left: 160px;
}

.action {
  margin: 15px 50px;
}

.update {
  font-size: 0.7em;
  color: orange;
}

.delete {
  font-size: 0.7em;
  color: red;
}

// Blocmarks form styles
.devise-form {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 15px 25px;
}

.errors {
  color: red;
  font-weight: 500;
}

.errors h3 {
  color: red;
}

.has-error {
  border: 2px solid red;
  border-radius: 10px;
  margin: 15px 0;
  padding: 10px;
}
