%p
  Hello #{@resource.email}!
%p Welcome to Blocmarks. A new account has been created for you and all you now need to do is to:
%p= link_to 'Create a password', edit_password_url(@resource, reset_password_token: @token)
%p If you didn't request this, please ignore this email.
